.sidebar {
  float: left;
  width: 70px;
  color: darkblue;
  border: 4px solid blue;
  padding: 0% 6.5% 0% 1%;
  margin: 1px;
  background-color: red;
}

.city {
  width: 150px;
}

.main {
  float: left;
  padding: 0% 10% 0% 10%;
}

.head {
  text-align: center;
}
